<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      <label>表示:
        <input type="checkbox" v-model="display">
      </label>
      <p v-if="display">表示中</p>
      <p v-else>現在、非表示です。</p>
      <p v-show="display">表示中</p>
      <ul v-for="(value, key, i) of flurts">
        <li>{{ i + 1 }}番: {{ value }}の英語は{{ key }}です。</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/controll.js"></script>
  </body>
</html>
