<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      <label>名前:
        <input type="text" v-model.trim="name">
      </label>
      <label>回答:
        <input type="checkbox" v-model="checkbox" true-value="はい" false-value="いいえ">
      </label>
      <br>
      <span>お使いのOSは?</span>
      <label>windows
        <input type="checkbox" value="windows" v-model="os">
      </label>
      <label>mac
        <input type="checkbox" value="mac" v-model="os">
      </label>
      <label>Linax
        <input type="checkbox" value="Linux" v-model="os">
      </label>
      <p>こんにちは、{{ name }}さん！</p>
      <p>{{ checkbox }}</p>
      <p>OS: {{ os.toString() }}</p>

      <form>
        <input type="file" ref="upfile" :chenge="onchange" />
      </form>
      <p>{{ message }}</p>
      <br>
      <label>名前:
        <input type="text" v-model.lazy="myName">
      </label>
      <p>こんにちは、{{ myName }}さん！</p>
      <br>
      <form>
        <label for="email">メールアドレス:</label>
        <textarea id="mail" :value="mails.join(';')" @input="mails=$event.target.value.split(';')"></textarea>
      </form>
      <ul>
        <li v-for="mail in mails">
          {{ mail }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/form.js"></script>
  </body>
</html>
